build.*
__blddate__
__bldnum__
__qfenum__
BuildName.txt
**/obj
**/*.log
*.cod
*.OBJ
!excptlst.obj
*.map
*.lib
!DirectUI.lib
tools/*/*.pdb
*.sfk
*_p.c
*_i.c
*_c.c
*_s.c
msg.h
msg.rc
messages.rc
messages.h
rtmsg.mc
rtmsh.h
rtmsh.rc
base/mvdm/inc
publish.log
setenv.cmd